/*Helpful Code from W3 Schools */
ul {
    list-style-type: none;
    margin: right 0;
    padding: 0;
    overflow: hidden;
    background-color: #200;
  }
  
  li {
    float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 17px;
    text-decoration: none;
  }
  
  /* Change the link color to #350 (green) on hover */
  li a:hover {
    background-color: #350;
  }
  ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 17px;
    text-decoration: none;
  }
  
  
  ul a:hover {
    background-color: #350;
  }

  div.profile {
    margin-left: 1150px;
    width: 75px;
    height: 75px;
    border-radius: 1px;
    float: right 50px;
    ; 
  }
  
  div.profile:hover {
    border: 1px solid #777;
    width: 55px;
    height: 55px;
  }
  body{
      background-color: #777;
  }
  h2:hover{
    color: 1px solid #500;
    background-color: aliceblue;
    margin: 15px;
    padding: 13px 17px;
  }
 
  p{
      color: #300;
      
  }
  p.footer{
      padding-bottom: 1.5em;
      margin-bottom: 1em;
      text-align: center;
  }
  
  #form{
      margin: 5px 100px;
      text-align: center;
      font-size: 15px;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 100px;
    cursor: pointer;
  }

  #contact{
    margin: 5px 100px;
  }
  li.public{
    right: 1000px;
  }
  #chiefs{
    color: red;
    text-align: center;
    font-size: 25px;
  }
  #royals{
    color: royalblue;
    text-align: center;
    font-size: 25px;
  }
  #blues{
    color: blue;
    text-align: center;
    font-size: 25px;
  }
  h2{
    text-align: center;
  }
  img.chiefs{
    size: cover;
    width: 600px;
    height: 600px;
    transform: rotate(90deg);
    margin-left: 355px;
    margin-right: 25px;
  }
  img.p{
    border-radius: 50%;
  }
  p.me{
    text-align: center;
  }
  iframe.youtube{
    width: 640px;
    height: 360px;
    margin-left: 340px;
  }
  button.date{
    text-align: center;
    margin-left: 500px;
  }
  #date{
    text-align: center;
    margin-left: 10px;
  }
  button.button2{
    margin: 0px;
    vertical-align: auto;
    margin-left: 375px;
  }
  
  p.office{
    text-align: center;
    color: black;
    font-size: 50px;
  }
  