/*Helpful Code from W3 Schools */
ul {
    list-style-type: none;
    margin: right 0;
    padding: 0;
    overflow: hidden;
    background-color: #200;
  }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 17px;
    text-decoration: none;
  }
  
  /* Change the link color to #350 (green) on hover */
  li a:hover {
    background-color: #350;
  }
  ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 17px;
    text-decoration: none;
  }
  ul a:hover {
    background-color: #350;
  }
  div.profile {
    margin-left: 1150px;
    width: 75px;
    height: 75px;
    border-radius: 1px;
    float: right 50px;
    ; 
  }
  
  div.profile:hover {
    border: 1px solid #777;
    width: 55px;
    height: 55px;
  }
  body{
      background-color: #777;
  }
  h2:hover{
    color: 1px solid #500;
    background-color: aliceblue;
    margin: 15px;
    padding: 13px 17px;
  }
 
  p{
      color: #300;
      font-size: 25px;
      
  }
  p.footer{
      padding-bottom: 1.5em;
      margin-bottom: 1em;
      text-align: center;
  }
  
  #form{
      margin: 5px 100px;
      text-align: center;
      font-size: 15px;
  }
 

  #contact{
    margin: 5px 100px;
  }
  li.public{
    right: 1000px;
  }
  #chiefs{
    color: red;
    text-align: center;
    font-size: 25px;
  }
  #royals{
    color: royalblue;
    text-align: center;
    font-size: 25px;
  }
  #blues{
    color: blue;
    text-align: center;
    font-size: 25px;
  }
  h2{
    text-align: center;
  }
  img.chiefs{
    size: cover;
    width: 600px;
    height: 600px;
    transform: rotate(90deg);
    margin-left: 355px;
    margin-right: 25px;
  }
  img.p{
    border-radius: 50%;
  }
  p.me{
    text-align: center;
  }
  iframe.youtube{
    width: 640px;
    height: 360px;
    margin-left: 340px;
  }
  .input{
    padding: 5px;
    border-radius: 20px; 
    float: center;
    text-align: center;
    margin-right: 340px;
    float: right;
  }
  .interaction{
    float: center;
    text-align: center;
  }
  button.button{
    color: blue; 
    border: 2px grey solid;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    float: center;
    margin-left: 340px;
    width: 50%;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    border: 2px black solid;
}
p.a{
    float: center;
    text-align: center;
}

  

  